html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout-link-section{
  padding: 1rem;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  > a {
    padding-bottom: 0.5rem;
  }
}

.layout-content-section{
  padding: 1rem;
}